@import "../../vars.css";

.navmenu {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: var(--colour-background);
    text-align: center;
    border-right: solid 5px var(--colour-secondary);
}

.hamburgerMenu {
    display: none;
}

.menuItems>a {
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.menuItems>a>svg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: scale(0.8);
    transition-duration: 100ms;
}

.menuItems>a>svg:hover {
    transform: scale(0.9);
}

@media (min-width: 1100px) {
    .navmenu {
        width: 6%;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .navmenu {
        width: 7.5%;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .navmenu {
        width: 9%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .navmenu {
        width: 12%;
    }
}

@media (max-width: 599px) {
    .hamburgerMenu {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        transition: ease-in-out;
        z-index: 2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition-duration: 100ms;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        color: var(--colour-line);
        border-radius: 100%;
        padding: 5px 6px 1px 6px;
    }

    .navmenu {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        height: max-content;
        width: 50%;
        right: 40px;
        top: 40px;
        border: none;
        padding: 10px 5px;
        background-color: transparent;
        -webkit-backdrop-filter: blur(80px); 
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 4px var(--colour-shadow);
        border-radius: 4px;
    }

    .navOpened {
        display: grid;
    }

    .navNOTOpened {
        display: none;
    }

    .blue {
        color: var(--colour-secondary);
        background-color: var(--colour-primary);
        transform: rotate(90);        
        transform: rotate(90deg);
        padding: 5px 2.5px 1px 2.5px;
    }

    .black {
        color: var(--colour-line);
    }
}